<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- <base href=""> -->
        
        <title>高専祭2018</title>

        <!-- Vue.js -->
        <script src="js/vue.min.js"></script>

        <!-- azios -->
        <!-- <script src="js/axios.min.js"></script> -->
        <script></script>
    </head>
    <body>
        <div>
            <header>
                <h1>奈良高専高専祭2018</h1>
            </header>
            <nav>
                <ul><a href="/">HOME</a></ul>
            </nav>
        </div>
        <!-- <div>
            <table id="app">
                <thead>
                    <td>出店</td>
                    <td>屋台</td>
                    <td>価格</td>
                </thead>
                <tbody v-for="(value, key) in times">
                    <td>{{ key }}</td>
                    <td>{{ value[0].title }}</td>
                    <td>{{ value[1].note }}</td>
                </tbody>
            </table>
        </div> -->
        <!-- <script src="js/main.js"></script> -->
        <table id="app">
                <tr>
                  <td>時刻</td>
                  <td>企画</td>
                </tr>
                <tr v-for="(value, key) in infos">
                  <td>{{ key }}</td>
                  <td>{{ value.value }}</td>
                  <td>{{ value.note }}</td>
                </tr>
              </table>
        <table id="shop">
                <tr>
                  <td>時刻</td>
                  <td>企画</td>
                </tr>
                <tr v-for="(value, key) in shops">
                  <td>{{ key }}</td>
                  <td>{{ value[0].name }}</td>
                  <td>{{ value[0].note }}</td>
                </tr>
              </table>
              

        <footer>
            <small>&copy;2018 高専祭実行委員会</small>
        </footer>
        <!-- main js -->
        <script src="js/main.js"></script>
    </body>
</html>