/* @import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css"); */
/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower"); */
@import url(/css/font.css);
.title-logo {
  color: aliceblue;
  position: absolute;
}

.title-logo h1 {
  /* font-size: 55px; */
  color: #f79f1f;
  font-family: "Noto Sans Japanese";
  font: Black;
}

/* PC */
@media (min-width: 768px) {
  .title-logo {
    /* margin-top: 450px; */
    margin-left: 100px;
    bottom: 50px;
  }
  .title-logo h1 {
    font-size: 85px;
  }
  .title-logo span {
    font-size: 35px;
  }
  .title-logo h4 {
    font-size: 35px;
  }
  .effect {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-color: #e84118; */
    animation: pulsate 1s ease-out;
    transition: color 0.3s ease 0s;
  }
}

/* スマホ */
@media (max-width: 767px) {
  .title-logo {
    margin-top: 25px;
    text-align: center;
  }
  .title-logo h1 {
    font-size: 55px;
  }
  .title-logo span {
    font-size: 25px;
  }
  .effect {
    opacity: 0.1;
  }
}

.comesoon {
  color: #66cfe8;
  font-family: "Indie Flower", cursive;
}

/* animation */

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.5;
    /* background-color: rgb(+10, +10, +10); */
  }
  100% {
    transform: scale(4, 4);
    opacity: 0;
    /* background-color: rgb(+50, +50, +50); */
  }
}
